body {
    background-color:white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
   align-items: center;
   }


#Square {
    background-color: green
}


.title {
    font-size: 20px;
}

